<ion-content padding class="back">

  <div class="speedbox">
    <div class="speedbox__score" id="speedbox-score" [ngStyle]="{'transform':getBMI()}"></div>
    <div class="speedbox__groove"></div>
    <div class="speedbox__odo">
      <div class="speedbox__up">{{bmiType}}</div>
      <div class="speedbox__down">{{bmiValue| number:'2.1-2'}}</div>
    </div>
    <div class="speedbox__base">
      Calcualate Your BMI value and start work for you
    </div>
  </div>

  <ion-grid class="cal-back">
    <ion-row>
      <ion-col col-6>

        <span style="width:100%;float:left">Height :</span>
        <input type="text" style="width:100%; float:left" *ngIf="isCm" [(ngModel)]="heightCm">
        <input type="text" style="width:45%; float:left;margin-right:10%" *ngIf="!isCm" [(ngModel)]="heightFt">
        <input type="text" style="width:45%; float:left" *ngIf="!isCm" [(ngModel)]="heightInch">

        <ion-item>
          <ion-label *ngIf="isCm">cm</ion-label>
          <ion-label *ngIf="!isCm">feet, inch</ion-label>
          <ion-toggle [(ngModel)]="isCm" color="danger"></ion-toggle>
        </ion-item>

      </ion-col>
      <ion-col col-6>

        Weight :
        <input type="text" style="width:100%" [(ngModel)]="weight">

        <ion-item>
          <ion-label *ngIf="isKg">Kg</ion-label>
          <ion-label *ngIf="!isKg">LBS</ion-label>
          <ion-toggle [(ngModel)]="isKg" color="danger"></ion-toggle>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full class="btn" (click)="calculateBMI()">Calcualate BMI Value</button>
    </ion-row>
  </ion-grid>

</ion-content>